$large_breakpoint: 960px;
$small_breakpoint: 720px;

$op-sa: 'Open Sans', sans-serif;
$oswald: "Oswald", sans-serif;

$show-more-light: #8ae6cf;
$price-bg: #8be7d0;
$price-discount: #ce2c52;
$show-more-dark: #282d3b;
$main-text: #242424;
$item-title-color: #282828;
$blue: #2888cf;
$grey: #83848a;
$item-padding-large: 10px;
$item-padding-medium: 20px;
$max-width-large: 835px;
$max-width-medium: 640px;

